h1, h2 {
    text-align: center;
}

.heading-1 {
    font-weight: 800;   
}

.heading-2 {
    font-weight: 300;
}

footer {
    text-align: center;
}

.palau {
    width: 320px;
    height: 40px;
    position: relative;
    left: 35%;
}

.palau div {
    width: 320px;
    height: 200px;
    background-color: #4aadd4;
    position: relative;
}

.palau div div {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ffe001;
    position: absolute;
    top: 40px;
    left: 80px;
}

.japan {
    width: 300px;
    height: 40px;
    position: relative;
    left: 35%;
}

.japan div {
    width: 300px;
    height: 200px;
    background-color: white;
    position: relative;
}

.japan div div {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #b12d3d;
    position: absolute;
    top: 40px;
    left: 90px;
}

.ukraine {
    width: 300px;
    height: 40px;
    position: relative;
    left: 35%;
}

.ukraine > #blue {
    width: 300px;
    height: 100px;
    background-color: #0056b8;
}

.ukraine > #yellow {
    width: 300px;
    height: 100px;
    background-color: #ffd800;
}

.latvia {
    width: 300px;
    height: 40px;
    position: relative;
    left: 35%;
}

.latvia > div {
    width: 300px;
    height: 150px;
    background-color: white;
    position: relative;
}

.latvia > div #top {
    width: 300px;
    height: 60px;
    background-color: #78323a;
}

.latvia > div #bottom {
    width: 300px;
    height: 60px;
    background-color: #78323a;
    position: absolute;
    top: 90px;
}