h1, h2 {
    text-align: center;
}

.heading-1 {
    font-weight: 800;   
}

.heading-2 {
    font-weight: 300;
}

footer {
    text-align: center;
}

/* 1 Palau country flags */
.palau, .poland {
    width: 320px;
    height: 40px;
    position: relative;
    left: 35%;
}

.palau div {
    width: 320px;
    height: 200px;
    background-color: #4aadd4;
    position: relative;
}

.palau div div {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ffe001;
    position: absolute;
    top: 40px;
    left: 80px;
}

.japan, .ukraine, .latvia, .nigeria, .peru, .monaco, .indonesia, .bangladesh {
    width: 300px;
    height: 40px;
    position: relative;
    left: 35%;
}

.japan > div, .indonesia > div {
    width: 300px;
    height: 200px;
    background-color: white;
    /* border: 0.1em solid black; */
    position: relative;
}

.japan > div div {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #b12d3d;
    position: absolute;
    top: 40px;
    left: 90px;
}

.ukraine > #blue {
    width: 300px;
    height: 100px;
    background-color: #0056b8;
}

.ukraine > #yellow {
    width: 300px;
    height: 100px;
    background-color: #ffd800;
}

.latvia > div, .nigeria > div {
    width: 300px;
    height: 150px;
    background-color: white;
    position: relative;
}

.latvia > div #top {
    width: 300px;
    height: 60px;
    background-color: #78323a;
}

.latvia > div #bottom {
    width: 300px;
    height: 60px;
    background-color: #78323a;
    position: absolute;
    top: 90px;
}

/* .nigeria > div {
    width: 300px;
    height: 150px;
    background-color: white;
    position: relative;
} */

.nigeria > div #left {
    width: 100px;
    height: 150px;
    background-color: #008850;
}

.nigeria > div #right {
    width: 100px;
    height: 150px;
    background-color: #008850;
    position: absolute;
    left: 200px;
    top: 0px;
}

.peru > div {
    height: 200px;
    background-color: white;
    position: relative;
}

.peru > div #left {
    width: 100px;
    height: 200px;
    background-color: #da071e;
}

.peru > div #right {
    width: 100px;
    height: 200px;
    background-color: #da071e;
    position: absolute;
    top: 0px;
    left: 200px;
}

.poland > div {
    width: 320px;
    height: 200px;
    background-color: white;
    /* border: 0.1em solid black; */
    position: relative;
}

.poland > div div {
    width: 320px;
    height: 100px;
    background-color: #dd0c39;
    position: absolute;
    top: 100px;
    
}

.monaco > div {
    width: 300px;
    height: 240px;
    background-color: white;
}

.monaco > div div {
    width: 300px;;
    height: 120px;
    background-color: #cf0921;
}

.indonesia > div div {
    width: 300px;
    height: 100px;
    background-color: #ff0000;
}

.austria {
    width: 360px;
    height: 40px;
    position: relative;
    left: 35%;
}
 
.austria > div {
    width: 360px;
    height: 240px;
    background-color: white;
    position: relative;
}

.austria > div #top{
    width: 360px;
    height: 80px;
    background-color: #c9072a;
}

.austria > div #bottom{
    width: 360px;
    height: 80px;
    background-color: #c9072a;
    position: absolute;
    top: 160px;
}

.bangladesh > div {
    width: 300px;
    height: 180px;
    background-color: #006a4d;
    position: relative;
}

.bangladesh > div div {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #f4263f;
    position: absolute;
    top: 30px;
    left: 75px;
}

/* 2 Palau country flags */
.bahamas {
    width: 300px;
    height: 40px;
    position: relative;
    left: 35%;
}

.bahamas > div {
    width: 300px;
    height: 150px;
    background-color: #00788c;
    position: relative;
    z-index: -1;
}

.bahamas > div #middle {
    width: 300px;
    height: 50px;
    background-color: #ffc828;
    position: absolute;
    top: 50px;
    z-index: -1;
}

.bahamas > div #triangle {
    width: 0px;
    height: 0px;
    border-top: 75px solid transparent;
    border-left: 100px solid black;
    border-bottom: 75px solid transparent;
    position: absolute;
    top: 0px;   
}

